Repository nd-projects/pm-portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2 --fix

feat: Implement career timeline component with animated progression display
  docs/portfolio-implementation-guide.md
  src/app/page.tsx
  src/components/sections/Timeline.tsx
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

feat: Add contact page with form API and navigation integration
  src/app/api/contact/route.ts
  src/app/contact/page.tsx
  src/components/sections/ContactForm.tsx
  src/components/sections/Navigation.tsx
Due: eslint --fix, prettier --write

feat: Implement impact-focused portfolio sections with technical showcase
  src/components/sections/ImpactStories.tsx
  src/components/sections/TechnicalShowcase.tsx
Due: eslint --fix, prettier --write

refactor: Split ADAS simulator case study into product and open source focused versions
  src/content/case-studies/adas-simulator-opensource.mdx
  src/content/case-studies/adas-simulator-product.mdx
  src/content/case-studies/adas-simulator.mdx
  src/lib/mdx.ts
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

feat: Extend TileList component to support 5 columns with responsive grid layout
  src/components/mdx/CalloutBox.tsx
  src/components/mdx/MetricGrid.tsx
  src/components/mdx/TechStack.tsx
  src/components/mdx/TileList.tsx
Due: eslint --fix, prettier --write

fix: Update markdownlint config to allow MDX components and JSX comments
  .markdownlint-cli2.jsonc
Due: none

content: Update android-studio-plugin case study to use TileList component for visual impact
  src/content/case-studies/android-studio-plugin.mdx
Due: prettier --write, markdownlint-cli2 --fix

fix: Remove trailing spaces from ADAS simulator case studies
  src/content/case-studies/adas-simulator-opensource.mdx
  src/content/case-studies/adas-simulator-product.mdx
Due: prettier --write, markdownlint-cli2 --fix

feat: Add MDX component integration and custom components registry
  mdx-components.tsx
  src/app/case-studies/[slug]/page.tsx
  src/lib/mdx.ts
Due: eslint --fix, prettier --write

docs: Add MDX components guide and cheat sheet documentation
  docs/mdx-cheat-sheet.md
  docs/mdx-components-guide.md
  docs/portfolio-implementation-guide.md
Due: prettier --write, markdownlint-cli2 --fix

chore: Update package dependencies and README with project structure
  README.md
  package-lock.json
  package.json
Due: prettier --write, markdownlint-cli2 --fix

docs: Restructure development roadmap from time-based to phase-based approach
  docs/portfolio-implementation-guide.md
Due: prettier --write, markdownlint-cli2 --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json})) or (any of: *.{md,mdx})) or (any of: *.css)
  markdownlint-cli2 --fix: any of: *.{md,mdx}
